##create bean daoImpl,this is a class
package $!{bean.beanDaoImplUrl};

import $!{bean.beanDaoUrl}.$!{bean.name}Dao;

/**
 * @author $!{devInfo.authorName}
 * @email $!{devInfo.authorMail}>
 * @date $!{devInfo.date}
 *
 * @version $!{devInfo.version}
 */
public class $!{bean.name}DaoImpl implements $!{bean.name}Dao{

}