##create bean dao,this is a interface
package ${bean.beanDaoUrl};


/**
* @author $!{developerInfo.authorName}
* @email $!{developerInfo.authorMail}>
* @date $!{developerInfo.date}
*
* @version $!{developerInfo.version}
*/
public interface $!{bean.name}Service{

}