##create bean serviceImpl,this is a class
package $!{bean.beanServiceImplUrl};

import $!{bean.beanDaoUrl}.$!{bean.name}Dao;
import $!{bean.beanServiceUrl}.$!{bean.name}Service;

/**
 * @author $!{devInfo.authorName}
 * @email $!{devInfo.authorMail}>
 * @date $!{devInfo.date}
 *
 * @version $!{devInfo.version}
 */
public class $!{bean.name}ServiceImpl implements $!{bean.name}Service{

	/**
	 * $!{bean.lowerName} Dao
	 */
	private $!{bean.name}Dao $!{bean.lowerName}Dao;
	

}