##create bean dao,this is a interface
package ${bean.beanDaoUrl};


/**
* @author $!{devInfo.authorName}
* @email $!{devInfo.authorMail}>
* @date $!{devInfo.date}
*
* @version $!{devInfo.version}
*/
public class $!{bean.name}ServiceImpl implements $!{bean.name}Service{

}