##create bean dao,this is a interface
package ${bean.beanDaoUrl};


/**
* @author $!{developerInfo.authorName}
* @email $!{developerInfo.authorMail}>
* @date $!{developerInfo.date}
*
* @version $!{developerInfo.version}
*/
public class $!{bean.name}Entity {

    #foreach($key in $map.keySet() )
        //$map.get($key)
        private String $key;
    #end
    #foreach($getter in $GSetter.keySet() )
        #set( $fieldName = $GSetter.get($getter) )

        public void set$getter(String $fieldName){
            this.$fieldName=$fieldName;
        }

        public String get$getter(){
            return this.$fieldName;
        }
    #end


}