##create bean dao,this is a interface
package ${bean.beanDaoUrl};


/**
* @author $!{developerInfo.authorName}
* @email $!{developerInfo.authorMail}>
* @date $!{developerInfo.date}
*
* @version $!{developerInfo.version}
*/
public class $!{bean.name}ServiceImpl implements $!{bean.name}Service{

	/**
	 * $!{bean.lowerName} Dao
	 */
	private $!{bean.name}Dao $!{bean.lowerName}Dao;
	

}