##create bean dao,this is a interface
package ${bean.beanDaoUrl};


/**
* @author $!{developerInfo.authorName}
* @email $!{developerInfo.authorMail}>
* @date $!{developerInfo.date}
*
* @version $!{developerInfo.version}
*/
public class $!{bean.name}Entity {

#foreach($data in $dataList )
    /** $!{data.columnComment} */
    private String $!{data.colNameHump};
#end

#foreach($data in $dataList )

    public void set$!{data.gsetter}(String $!{data.colNameHump}){
        this.$!{data.colNameHump}=$!{data.colNameHump};
    }

    public String get$!{data.gsetter}(){
        return this.$!{data.colNameHump};
    }
#end


}