##create fileInfo dao,this is a interface
package ${fileInfo.beanDaoUrl};


/**
* @author $!{developerInfo.authorName}
* @email $!{developerInfo.authorMail}>
* @date $!{developerInfo.date}
*
* @version $!{developerInfo.version}
*/
public class $!{fileInfo.name}ServiceImpl implements $!{fileInfo.name}Service{

	/**
	 * $!{fileInfo.lowerName} Dao
	 */
	private $!{fileInfo.name}Dao $!{fileInfo.lowerName}Dao;
	

}