##create fileInfo dao,this is a interface
package ${fileInfo.beanDaoUrl};


/**
* @author $!{developerInfo.authorName}
* @email $!{developerInfo.authorMail}>
* @date $!{developerInfo.date}
*
* @version $!{developerInfo.version}
*/
public class $!{fileInfo.name}DaoImpl implements $!{fileInfo.name}Dao{

}